.task-item {
  padding: clamp(12px, 2.5vw, 20px);
  border: 1px solid #fff1;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
  font-size: clamp(12px, 2vw, 18px);
}

.task-item p {
  font-size: clamp(10px, 1vw, 14px);
}
