.blur-light {
  background: radial-gradient(circle at 50% 20%, green, yellow, red);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding: 1px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.blur-light > div {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
}

.blur-child {  
  border-radius: 50%;
  filter: blur(50px);
  background: inherit;
}
