.blur-light {
  transition: opacity 0.26s ease-out;
  border-radius: 50%;
  filter: drop-shadow(-8px -10px 46px #0000005f);
  backdrop-filter: brightness(1.1)
    blur(2px)
    url(#displacementFilter);
}

