.background {
  min-height: 100dvh;
  color: white;
  background-color: #000000;
}

.glass {
  background: rgba(255, 255, 255, 0.15); 
  border: 1px solid rgba(255, 255, 255, 0.2); 
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), inset 0 4px 20px rgba(255, 255, 255, 0.3); 
  backdrop-filter: blur(8px) saturate(180%);
  border-radius: 50%;
  -webkit-backdrop-filter: blur(8px) saturate(180%);
  backdrop-filter: url(#liquidGlassFilter) blur(8px) saturate(180%);
  -webkit-backdrop-filter: url(#liquidGlassFilter) blur(8px) saturate(180%);
  filter: url(#liquidGlassFilter);
}
