@import "tailwindcss";

html, body {
  background-color: black;
  margin: 0;
  padding: 0;
}

body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom); 
  font-family: "Orbitron", sans-serif;
}
