@import "tailwindcss";

@theme {
  --btn-radius: 60px;
  --btn-content-bg: hsl(0 100% 100% / 15%);
  --btn-filters: blur(4px) brightness(150%);
}

html, body {
  background-color: black;
  margin: 0;
  padding: 0;
}

body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom); 
  font-family: "Orbitron", sans-serif;
}
